@import "../../styles/_variables.scss";

.data-grid-title {
  text-align: center;
  color: $color-medium-turquoise;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 20px;

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
}
