//colors
$color-dark-turquoise: #1a3c40;
$color-medium-turquoise: #417d7a;
$color-light-turquoise: #cbe4de;
$color-black: #000000;
$color-beige: #ede6db;
$color-white: #ffffff;
$color-light-gray: #eaeaea;
$color-medium-gray: #b2b2b2;
$color-dark-gray: #3c4048;

// Sizes
$min-mobile: 270px;
$max-mobile: 599px;
$min-tablet: 600px;
$max-tablet: 990px;
$min-desktop: 991px;
